body {text-align: center;}
.ingredientes {
                margin: 35px 450px 35px 450px;}
h1 {
  font-size: 70px;
  background-color: red;
  margin: 100px 300px 0px 300px

}
.video {font-size: 60px}
